body._category{
	.Left{
		#SideCategoryShopByPrice,.BrandList{
			border:1px solid $ig-dark-orange;
			border-radius: $base-border-radius;

			.BlockContent{
				& > ul {

				}
			}
			.mw_arrow {
  				@include sprites-menu_go;
  				float: right;
			}
			h2{
    			@include background(linear-gradient(top, $ig-orange, $ig-dark-orange));
    			color:white;
    			padding:$spacing-mini;
    			.mw_indicator{
    				float: right;
    			}
				&[data-ur-state="disabled"] {
  					> .mw_indicator {
    					@extend .sprites-plus;
  					}
				}
				&[data-ur-state="enabled"] {
  					> .mw_indicator {
    					@extend .sprites-minus;
  					}
				}
			
			}
		}
	}
}